* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    background: white;
    overflow-x: hidden;
}

.navigation {
    margin: 0 auto;
    text-align: center;

}

nav {
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(20px);
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    font-weight: 400;

}


nav a {
    color: #d6d6d6;
    text-decoration: none;
    margin: 100px;
    transition: all .2s ease-in-out; 

}

nav a:hover {
    color: #ffffff;
    cursor: pointer;
    transform: scale(1.1); 

}

.wrapper {
    display: grid;
    height: 100vh;
    width: 100vw;

    grid-template-areas: 
    "he he"
    "s1 s2"
    "s1 s2"
    "s3 s4"
    "s3 s4"
    "fo fo"
    ;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 15px;
   
}

h1 {
    grid-area: he;
    background:#557195 ;
    height: 300px;
    text-align: center;
    font-size: 70px;
    line-height: 360px;
    font-weight: 600;
    font-style: normal;
    color: #7395ae;
    border-bottom: solid #7395ae 15px;
}


.bild1 {
    grid-area: s1;
    background: #f5f5f7;
    height: 700px;
    text-align: center;
    line-height: 1150px;
}

.meny1 {
    grid-area: s2;
    height: 700px;
    font-size: 30px;
    text-align: center;
    line-height: 120px;
    background: #fbfbfd;
}

.meny2 {
    grid-area: s3;
    height: 700px;
    font-size: 30px;
    text-align: center;
    line-height: 120px;
    background: #fbfbfd;

}

.bild2 {
    grid-area: s4;
    height: 700px;
    background: #f5f5f7;
    text-align: center;
    line-height: 1180px;

}

footer {
    grid-area: fo;
    background: #557a95;
    height: 470px;
    color: #7395ae;
    border-top: solid #7395ae 15px;
}

ul{
    list-style: none;
    margin-top: 40px;
    color: #5d4c61;
    font-weight: 400;
}

.burger {
    border: solid 4px;
    border-color: #5d5c61;
    width: 80%;
    border-radius: 20px;
}

.li_meny {
    font-weight: bold;
    transition: all .2s ease-in-out;
    font-size: 50px;
}

footer {
    text-align: center;
    padding: 40px;

}

#info {
    line-height: 60px;
}

.li_meny:hover{
    transform: scale(1.1); 
}

#om_oss_bild1 {
    grid-area: s2;
    height: 700px;
    background: #f5f5f7;
    text-align: center;
    line-height: 1100px;
}

#om_oss_text1 {
    grid-area: s1;
    font-size: 30px;
    text-align: center;
    background: #fbfbfd;
    line-height: 50px;
    padding: 40px;
}

#om_oss_bild2 {
    grid-area: s3;
    height: 700px;
    background: #f5f5f7;
    text-align: center;
    line-height: 1250px;
}

#om_oss_text2 {
    grid-area: s4;
    font-size: 30px;
    text-align: center;
    background: #fbfbfd;
    line-height: 50px;
    padding: 40px;
}

#footer_om_oss {
    height: 535px;
    padding: 80px;
}

p {
    color: #5d4c61;
}

.titel_om_oss {
    transition: all .2s ease-in-out; 
    margin-top: 30px;
    color: #5d4c61;
    font-weight: bold;
    font-size: 50px;
}

.titel_om_oss:hover {
    transform: scale(1.1); 

}

#titel_ta_dig_hit {
    transition: all .2s ease-in-out; 
    margin-top: 85px;
    color: #5d4c61;
    font-weight: bold;
    font-size: 50px;
}

#titel_ta_dig_hit:hover {
    transform: scale(1.1);
}

#location {
    width: 90%;

}

#location_align {
    line-height: 1160px;
}

.location_text {
    grid-area: s2;
    height: 700px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    background: #fbfbfd;
    padding: 40px;
    
}

#wrapper_edit {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

    grid-template-areas: 
    "he he"
    "s1 s2"
    "s1 s2"
    "fo fo";
}

#logo {
    transition: all .2s ease-in-out; 
}

#logo:hover {
    transform: scale(1.1);
    
}







